<button [disabled]="!allowNewServer" (click)="onGetServerConnectionStatus()">Click Me</button>
<p>{{ serverConnectionStatus }}</p>

<input type="text" (input)="onUpdateServerName($event)">

<!-- 双向绑定 -->
<input type="text" [(ngModel)]="serverName">
<div>{{ serverName }}</div>

<!-- 单向绑定 -->
<input type="text" [ngModel]="username" name="username">
<p>{{ username }}</p>


<div *ngIf="allowNewServer">dddd</div>

<ul *ngFor="let item of userList">
  <li>{{item}}</li>
</ul>

<div *ngIf="serverCreated">
  Server was created
</div>


<div *ngIf="serverCreated;then thenTemplate else elseTemplate"></div>

<!-- https://juejin.cn/post/7121919432288370724 -->

<ng-template #thenTemplate></ng-template>
<ng-template #elseTemplate [ngOutletContext]="context"></ng-template>


<!-- *ngIf="serverCreated;else noServer" -->
<!-- <div *ngIf="serverCreated;else noServer1"></div>

<ng-template [ngTemplateOutlet]="noServer" [ngOutletContext]="noServer1"></ng-template> -->

<!-- if else  template -->
<!-- <ng-template [ngTemplateOutlet]="noServer" [ngOutletContext]="noServer"></ng-template> -->

<div [ngStyle]="{backgroundColor: 'red'}">hello</div>
<div [ngStyle]="{'background-color': 'blue'}">world</div>
<div [ngStyle]="{'background-color': getColor()}">Hi!</div>

<div ngClass="blue"></div>


<button (click)="onAddClick()">Add Server</button>